.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: white;
  border: 3px solid white;
  border-radius: 30px;
  min-height: 56px;
  width: 280px;
}

.button:hover {
  background-color: #666666;
}

.button--page-photo {
  border-color: @pink;
  color: @pink;
}

.button--page-photo-disabled {
  border-color: #666666;
  color: #666666;
}

@media (min-width: 660px) {
  .button {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .button {
    font-size: 21px;
  }
}
