.carousel {
  position: relative;
  width: 320px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.carousel__controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5.5px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.carousel__controls {
  position: absolute;
  left: 38.5%;
  bottom: 11%;
}

.btn-1:checked ~ .carousel__controls label[for="btn-1"],
.btn-2:checked ~ .carousel__controls label[for="btn-2"],
.btn-3:checked ~ .carousel__controls label[for="btn-3"] {
  background-position: 50% 50%;
  background-size: 10px;
  background-color: red;
}

.btn-1:checked ~ .carousel__inner .carousel__sliders {
  transform: translate(0);
  transition: 0.7s;
}

.btn-2:checked ~ .carousel__inner .carousel__sliders {
  transform: translate(-280px);
  transition: 0.7s;
}

.btn-3:checked ~ .carousel__inner .carousel__sliders {
  transform: translate(-560px);
  transition: 0.7s;
}

.carousel__sliders {
  width: 300%;
}

.carousel__inner {
  overflow: hidden;
  width: 280px;
}

.btn-4:checked ~ .carousel--price__controls label[for="btn-4"],
.btn-5:checked ~ .carousel--price__controls label[for="btn-5"],
.btn-6:checked ~ .carousel--price__controls label[for="btn-6"] {
  background-position: 50% 50%;
  background-size: 10px;
  background-color: red;
}

.btn-4:checked ~ .carousel--price__inner .carousel--price__sliders {
  transform: translate(20px);
  transition: 0.7s;
}

.btn-5:checked ~ .carousel--price__inner .carousel--price__sliders {
  transform: translate(-260px);
  transition: 0.7s;
}

.btn-6:checked ~ .carousel--price__inner .carousel--price__sliders {
  transform: translate(-540px);
  transition: 0.7s;
}

.carousel--price {
  position: relative;
  min-width: 320px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.carousel--price__controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  border-radius: 50%;
  box-shadow: 0 0 2px red;
  cursor: pointer;
}

.carousel--price__controls {
  position: absolute;
  left: 123px;
  bottom: 0;
}

.carousel--price__sliders {
  width: 300%;
}

.carousel--price__inner {
  overflow: hidden;
  width: 320px;
}

@media (min-width: 660px) {
  .carousel {
    width: 100%;
  }

  .carousel__inner {
    width: 620px;
  }

  .btn-1:checked ~ .carousel__inner .carousel__sliders {
    transform: translate(0);
    transition: 1s;
  }

  .btn-2:checked ~ .carousel__inner .carousel__sliders {
    transform: translate(-620px);
    transition: 1s;
  }

  .btn-3:checked ~ .carousel__inner .carousel__sliders {
    transform: translate(-1240px);
    transition: 1s;
  }

  .carousel__controls {
    left: 295px;
    bottom: 94px;
  }

  .carousel--price {
    display: none;
  }

  .table-price {
    display: block;
  }
}

@media (min-width: 1200px) {
  .carousel {
    width: 960px;
    padding-top: 190px;
    background-image: url("/img/quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 24%;
  }

  .carousel__controls {
    left: 47%;
    bottom: -10%;
  }

  .carousel__inner {
    width: 690px;
  }

    .btn-1:checked ~ .carousel__inner .carousel__sliders {
    transform: translate(0);
    transition: 1s;
  }

  .btn-2:checked ~ .carousel__inner .carousel__sliders {
    transform: translate(-690px);
    transition: 1s;
  }

  .btn-3:checked ~ .carousel__inner .carousel__sliders {
    transform: translate(-1380px);
    transition: 1s;
  }
}
