.form {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: @midnight;

  form-legend {
    color: @pink;
  }

  form-input {
    font-size: 18px;
  }
}

.form-submit {
  background-color: greed;
}

.form-fieldset {
  display: flex;
  margin-bottom: 10px;
}
