.form {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: @midnight;
}

.form__submit {
  background-color: greed;
}

.form__legend {
  color: @pink;
}

.form__fieldset {
  display: flex;
  margin-bottom: 10px;
}

.form__input {
  font-size: 18px;
}
