.intro {
  background-color: #1d2631;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: 50% -71px;
  background-size: 221%;
  background-repeat: no-repeat;

  &__slide {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    min-width: 320px;
    height: 395px;
  }
}

.intro__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  min-height: 271px;
  padding-top: 16px;
  padding-bottom: 25px;
}

.intro__links p {
  font-family: "Open Sans", "sans-serif";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: white;

  width: 280px;

  padding: 0 25px;
  margin: 0;

  &:nth-child(2){
    padding-left: 34px;
    padding-top: 5px;
  }
}


