.page-header {
  display: flex;
  flex-direction: column;
  min-height: 670px;
  min-width: 280px;

  background-color: @midnight;

  outline: 2px dotted red;
}

.page-header__slider {
  min-height: 392px;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-size: 256px 286px,
    700px 462px;
  background-repeat: no-repeat;
  background-position: 0 100%,
    50% 100%;
  outline: 1px solid green;
}

.page-header__social-btn {
  min-height: 270px;
  outline: 1px solid yellow;
}
