.page-header {
  display: flex;
  flex-direction: column;
  min-height: 670px;
  min-width: 280px;
  background-color: @midnight;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 700px 462px;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-around;
}

.page-header__container {
  min-height: 392px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 28%;
}

.page-header__social-btn {
  min-height: 270px;
  background-color: @midnight;
}

.page-header__img {
  width: 320px;
  min-height: 397px;
}

.page-header__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  margin: 25px auto;
  width: 200px;
  color: white;
}

.page-header--photo-page {
  min-height: 495px;
}

@media (min-width: 660px) {
  .page-header {
    background-image: url("/img/back-tablet@1x.svg");
    background-size: cover;
  }

  .page-header__img {
    width: 300px;
    min-height: 620px;
  }

  .page-header__social-btn {
    background-color: transparent;
    width: 300px;
    min-height: 620px;
    display: flex;
    align-items: center;
  }

  .page-header__container {
    min-width: 640px;
    min-height: 620px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-image: url("/img/iphone6tablet.svg"),
      url("/img/Layer155.svg");
    background-position: 50% 90%, 81% 45%;
    background-size: 660px 545px, 195px 346px;
  }

  .page-header__title{
    min-height: 187px;
    font-size: 50px;   
    margin: 70px auto;
    width: 500px;
    line-height: 60px;
    .green;
  }
}

@media (min-width: 1200px) {
  .page-header {
    background-size: cover;
  }

  .page-header__container {
    min-height: 743px;
    min-width: 940px;
    display: flex;
    justify-content: flex-end;
    background-image: url("../img/iphone-5-in-hand-png.svg"),
    url("../img/Layer155.svg");
    background-size: 75%, 25%;
    background-position: 149% 100%, 83% 50%;
  }
}
