.photo {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: @midnight;
  span {
    font-size: 12px;
  }
}

.photo__item p:last-child {
  color: @pink;
}

.photo__item p:first-of-type {
  font-weight: 700;
}

.photo__item span {
  font-weight: 400;
}
