.photo {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: @midnight;
  width: 1200px;
}

.photo-span {
  font-size: 12px;
  font-weight: 400;
}

.photo__item-paragraph:last-child {
  color: @pink;
}

.photo__item-paragraph:first-of-type {
  font-weight: 700;
}

@media (min-width: 660px) {
  .photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .photo {
    padding: 0 120px;
  }

  .photo__item {
    width: 300px;
    height: 554px;
  }
}
