.price-table {
  width: 660px;
  min-height: 325px;

  padding: 36px 20px 70px;
}

@media (max-width: 660px) {
  .price-table {
    display: none;
  }
}

@media (min-width: 1200px) {
  .price-table {
    width: 960px;
    min-height: 280px;
    margin: 0 auto;
    .oline;
  }
}
