.research {
  min-width: 660px;
  display: flex;
  justify-content: space-around;
}

.research__container {
  font-family: "Open Sans";
  font-style: normal;
  width: 620px;
  min-height: 395px;
  display: flex;
  justify-content: space-between;
  padding: 59px 20px 52px;
}

.research__img {
  width: 300px;
  height: 276px;
  color: @pink;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 96px;
  background-image: url("../img/timer.svg"),
    url("../img/diagram-fill.svg");
  background-repeat: no-repeat;
  background-size: contain, 59%;
  background-position: 50% 50%, 49.7% 69%;
}

.research__info {
  width: 310px;
  height: 276px;
}

@media (max-width: 660px) {
  .research {
    display: none;
  }
}

@media (min-width: 1200px) {
  .research__container {
    width: 100%;
    justify-content: space-around;
  }

  .research__title {
    font-size: 30px;
  }

  .research_paragraph {
    font-size: 18px;
  }
}
